/*** Base color set ***/

$base__color--primary: #460b34;
$base__color--secondary: #00b1eb;

$base__color--africa : #E56C0B;
$base__color--asia: #985DB6;
$base__color--australia: #d45036;
$base__color--north-america: #910A0A; 
$base__color--south-america: #A0AD12;
$base__color--europe: #081888;

/*** Break points ***/

$mobile--small:	450px;
$mobile--large:	600px;
$tablet--small:	760px;
$tablet--large:	900px;
$screen--small:	1100px;
$screen--large:	1400px;